<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To do Entry</title>
  </head>
  <body>
    {{#entry}}
      <p>{{todo}}</p>
      <button type="button" name="button">Completed</button>
    {{/entry}}
  </body>
</html>
