<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>todo</title>
  </head>
  <body>
    <div class="container">
      <h1>TO DO LIST</h1>
        <div class="input-style">
          <form action="/" method="post">
            <input type="text" name="todo" placeholder="Enter To Do" />
            <button type="submit">Add to list</button>
          </form>
        </div>
      <ul>
        {{#todo}}
         <li>
           {{#complete}}
            <span>{{id}}.</span><span> {{name}}</span>
           {{/complete}}
           {{^complete}}
             <del> <span>{{id}}.</span><span>{{name}} </span></del>
           {{/complete}}
           <span><form action="/{{id}}" method="post">
            <button class="completebtn" type="submit" name="button" value="{{id}}">Completed</button>
          </form></span>
         </li>
         {{/todo}}
      </ul>
    </div>
  </body>
</html>
